<header class="border-b-2 border-gray-200 text-xs text-gray-500">
  {% include 'nav.njk' %}
  <div class="p-4">
    <div></div>
    <div class="flex justify-between">
      <div class="hidden">{% menu "h-6 w-6 text-gray-500" %}</div>
      <div class="hidden sm:block">
        <nav>
          <ul class="flex space-x-4">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="flex space-x-4">
        <div>
          <a href="/become-a-seller">
            {% trophy "h-4 w-4 inline" %} Become A Seller</a
          >
        </div>
        <div>{% globe "h-4 w-4 inline" %} English</div>
      </div>
    </div>
  </div>
</header>
