<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GridTap</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <header></header>
    <main>
      {{ content | safe }}
    </main>
    <footer></footer>
    <script src="/main.js"></script>
  </body>
</html>
